<%- include('./partials/head')%>
<main id="events" class="two bgdark">
    <h2 class="mainhl">PRIVATE EVENTS</h2>
    <div class="left">
        <%- include('./partials/image', { index: 0 })%>
    </div>
    <div class="right">
        <%- include('./partials/image', { index: 1 })%>
    </div>
    <p class="maintext">For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>
</main>
<%- include('./partials/foot')%>
