<%- include('./partials/head')%>
<main id="galerie" class="two bgdark">
    <h2 class="mainhl">specialties</h2>
    <div class="left">
        <%- include('./partials/image', { index: 0 })%>
    </div>
    <div class="right">
        <%- include('./partials/text')%>
    </div>
</main>
<%- include('./partials/foot')%>
