<%- include('./partials/head')%>
<main id="about" class="two">
    <div class="left">
        <%- include('./partials/text')%>
    </div>
    <div class="right">
        <%- include('./partials/image', { index: 0 })%>
    </div>
</main>
<%- include('./partials/foot')%>