<%- include('./partials/head')%>
<main id="team" class="two bgdark">
    <h2 class="mainhl">OUR TEAM</h2>
    <div class="left">
        <%- include('./partials/image', { index: 0 })%>
    </div>
    <div class="right">
        <%- include('./partials/text')%>
    </div>
</main>
<%- include('./partials/foot')%>
